<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="https://www.thymeleaf.org/">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/fav.png}" href="">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Add Address</title>
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.css"/>
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu" >
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" th:href="@{/}" href=""><img src="" th:src="@{/img/logo.png}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}" href="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/shop}" href="">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/login}" href="">Login</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--<section class="banner-area organic-breadcrumb">-->
<!--    <div class="container">-->
<!--        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">-->
<!--            <div class="col-first">-->
<!--                <h1>Add Address</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<form action="/checkout/addAddress" class="login_form_inner" method="post">-->
<!--    <h3> Add a new Address.</h3>-->
<!--    <p>Please Fill Out This Form.</p>-->
<!--    <label for="street" class="form-control">Street:</label>-->
<!--    <input type="text" id="street" name="street" required><br><br>-->

<!--    <label for="state" >State:</label>-->
<!--    <input type="text" id="state" name="state" required><br><br>-->

<!--    <label for="postalcode">Postal Code:</label>-->
<!--    <input type="text" id="postalcode" name="postalcode" required><br><br>-->

<!--    <label for="country">Country:</label>-->
<!--    <input type="text" id="country" name="country" required><br><br>-->

<!--    <button type="submit">Submit</button>-->
<!--</form>-->

<div class="col-lg-6 text-center" style="margin: auto">
    <div class="login_form_inner">
        <form class="row login_form" th:action="@{/users/addAddress}" method="post" th:object="${address}" >
            <div class="col-md-12 form-group">
                <label for="street"></label>
                <input   type="text" class="form-control" required th:field="*{street}" id="street" placeholder="Enter Street" >
                <p th:errors="*{street}" class="text-danger" th:if="${#fields.hasErrors('street')}"></p>
            </div>
            <div class="col-md-12 form-group">
                <label for="state"></label>
                <input type="text" class="form-control" required th:field="*{state}" id="state" placeholder="Enter State">
                <p th:errors="*{state}" class="text-danger" th:if="${#fields.hasErrors('state')}"></p>
            </div>
            <div class="col-md-12 form-group">
                <label for="postalcode"></label>
                <input type="text" class="form-control" required th:field="*{postalcode}" id="postalcode" placeholder="Enter Postal Code">
                <p th:errors="*{postalcode}" class="text-danger" th:if="${#fields.hasErrors('postalcode')}"></p>
            </div>
            <div class="col-md-12 form-group">
                <label for="country"></label>
                <input type="text" class="form-control" required th:field="*{country}" id="country" placeholder="Enter Country">
                <p th:errors="*{country}" class="text-danger" th:if="${#fields.hasErrors('country')}"></p>
            </div>
            <div class="col-md-12 form-group">
                <button type="submit" class="primary-btn">Submit</button>
            </div>
        </form>
    </div>
</div>



</body>
</html>